{% extends 'starter-page.html'%}

{% load static %}

{% block title %} service page {% endblock %}

{% block content%}
<!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>CareBridge offers dependable, compassionate, and tailored care solutions designed to support individuals and families with professional assistance.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Personal Care Assistance</h3>
              </a>
              <p>We provide everyday support such as grooming, hygiene assistance, and mobility help to enhance comfort and independence.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Medication Management</h3>
              </a>
              <p>Our caregivers help clients stay consistent with medication schedules, ensuring safety, accuracy, and proper monitoring.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Companionship Services</h3>
              </a>
              <p>CareBridge provides emotional support, conversation, and engagement to reduce loneliness and improve well-being.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Specialized Care Support</h3>
              </a>
              <p>We offer assistance for individuals with chronic illnesses, disabilities, or post-surgery needs, ensuring personalized and attentive care.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Mobility & Support Services</h3>
              </a>
              <p>Our team helps clients move safely, perform physical activities, and access essential resources with confidence and dignity.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-notes-medical"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Health Monitoring</h3>
              </a>
              <p>We provide regular wellness checks, vital-sign monitoring, and detailed reporting to ensure ongoing health and safety.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->


{% endblock%}
